.dropzone-container {

    position: relative;
    background: var(--white-color);
    border-radius: 25px;
    text-align: center;
    color: #000;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 350px;
    height: fit-content;
    padding: 1em 0em;

}

.drop-zone {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0em 1em;
    width: 250px;
    height: 350px;

    background-color: white;
    color: var(--white-color);

    border: 1em dashed var(--main-color);
    border-radius: 50px;

    transition: all .4s ease-in-out;
    cursor: pointer;

}

.drop-zone:hover {

    border-color: var(--second-color);

}

.drag-over {

    border: 1em dashed var(--second-color);

}

input[type=file] {

    background-color: yellow;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;

}

.dropzone-list {

    position: relative;
    width: 250px;
    margin: 1em 0em;
    background: white;
    height: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dropzone-scroll-panel::-webkit-scrollbar {

    width: 0px;

}

.dropzone-scroll-panel {

    margin: 1em 0em;
    width: 100%;
    height: 90%;
    overflow-y: scroll;

}

.dropzone-list-item {

    margin: .5em;
    width: 80%;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: all .4s ease-in-out;

}

.dropzone-list-item span {

    white-space: nowrap;
    overflow: hidden;
    width: 75%;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: .5em;

}

.dropzone-list-item:hover {

    background-color: rgba(37, 192, 183, .3);

}

@media screen and (min-width: 800px) {
    .dropzone-container {

        position: relative;
        background: var(--white-color);
        border-radius: 25px;
        text-align: center;
        color: #000;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        width: fit-content;
        height: 350px;
        padding: 1.5em;
    
    }
    
    .drop-zone {
    
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        margin: 0em 1em;
        width: 250px;
        height: 90%;
    
        background-color: white;
        color: var(--white-color);
    
        border: 1em dashed var(--main-color);
        border-radius: 50px;
    
        transition: all .4s ease-in-out;
        cursor: pointer;
    
    }
    
    .drag-over {
    
        border: 1em dashed var(--second-color);
    
    }
    
    input[type=file] {
    
        background-color: yellow;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    
    }
    
    .dropzone-list {
    
        position: relative;
        width: 250px;
        margin: 1em 0em;
        background: white;
        height: 100%;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .dropzone-scroll-panel::-webkit-scrollbar {
    
        width: 0px;
    
    }
    
    .dropzone-scroll-panel {
    
        margin: 1em 0em;
        width: 100%;
        height: 75%;
        overflow-y: scroll;
    
    }
    
    .dropzone-list-item {
    
        margin: .5em;
        width: 80%;
        padding: 1em;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        transition: all .4s ease-in-out;
    
    }
    
    .dropzone-list-item span {
    
        white-space: nowrap;
        overflow: hidden;
        width: 75%;
        text-overflow: ellipsis;
        text-align: left;
        padding-left: .5em;
    
    }
    
    .dropzone-list-item:hover {
    
        background-color: rgba(37, 192, 183, .3);
    
    }    
    
}
