.submit-layout {

    padding: 0em 0em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

}

.submit-layout::-webkit-scrollbar {

    width: 0px;

}

.submit-layout h1 {

    margin-left: 0em;

}

@media screen and (min-width: 900px) {
    .submit-layout {

        display: flex;
        flex-direction: row;
        align-items: flex-start;

    }
    
    .submit-layout h1 {
    
        margin-left: 1em;
    
    }
}