.demo-layout {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;

}

.demo-layout::-webkit-scrollbar {

    width: 10px;

}

.demo-left-frame {

    max-width: 350px;
    min-height: 350px;
    max-height: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 10px 10px 20px var(--white-color);

}

.demo-right-frame {

    height: fit-content;

}

.tab-group {

    display: flex;
    border-radius: 50px;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    background-color: white;
    transition: all .4s ease-in-out;
    cursor: pointer;

}

.tab-btn {
    height: fit-content;
    width: 100px;
    padding: 1em;
    background-color: var(--white-color);
    color: black;
    transition: all .4s ease-in-out;
}

.tab-btn:hover {

    opacity: .7;

}

.tab-btn span span {
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    transition: all .4s ease-in-out;
}

.tab-btn.tab-active {

    width: 25px;
    background-color: var(--main-color);
    transition: all .4s ease-in-out;

}

.tab-btn.tab-active span span {

    width: 0;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;

}

.dl-scroll-panel {

    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;

}

.dl-scroll-panel::-webkit-scrollbar {

    height: 1px;

}

.dl-box {

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* min-width: 200px; */
    width: fit-content;
    max-width: fit-content;
    height: fit-content;
    padding: 1em 1.5em;    
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 25px;
    transition: all .4s ease-in-out;

}

.dl-box span {

    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

/* .dl-box:hover {

    background-color: var(--white-color);

} */

.dl-btn {

    margin: 0.5em ;
    padding: 0.8em 1em;
    width: 60px;
    color: white;
    text-decoration: none;
    background-color: var(--second-color);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;

}

.dl-btn:hover {

    opacity: .7;

}

.demo-file-num {

    color: var(--main-color);
    font-weight: 300;

}

.software-url {

    cursor: pointer;
    color: var(--main-color);
    text-decoration: none;
    transition: all .4s ease-in-out;

}

.software-url:hover {

    text-decoration: underline;

}

@media screen and (min-width: 1200px) {
    .demo-layout {

        width: inherit;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
    
    }
    
    .demo-left-frame {
    
        min-width: 450px;
        max-width: 450px;
        min-height: 400px;
        max-height: 400px;
        border-radius: 50px;
        overflow: hidden;
        box-shadow: 10px 10px 20px var(--white-color);
    
    }
    
    .demo-right-frame {

        width: 400px;
        height: inherit;
    
    }

    .dl-scroll-panel {

        padding: 0em 1.5em;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: scroll;
    
    }
    
    .dl-scroll-panel::-webkit-scrollbar {
    
        height: 1px;
    
    }

    .dl-box {
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* min-width: 200px; */
        width: fit-content;
        height: fit-content;
        padding: 1em 1em;    
        cursor: pointer;
        text-decoration: none;
        color: black;
        border-radius: 25px;
        transition: all .4s ease-in-out;
    
    }

    .dl-box span {

        max-width: fit-content;
        white-space: pre-wrap;
        overflow: visible;
        text-overflow: clip;
    
    
    }
    
    /* .dl-box:hover {
    
        background-color: var(--white-color);
    
    } */
    
    .dl-btn {
    
        margin: 0em 1em ;
        padding: 1em;
        width: 60px;
        color: white;
        text-decoration: none;
        background-color: var(--second-color);
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: all .4s ease-in-out;
    
    }
    
    .dl-btn:hover {
    
        opacity: .7;
    
    }
    
    .demo-file-title {

        display: flex;
        align-items: center;
        height: fit-content;

    }

    .demo-file-num {

        font-weight: 300;
        margin-left: 1em;

    }

}

