:root {

  --bg-color: #ffffff;
  --main-color: #25c0b7;
  --second-color: #f8b34b;
  --white-color: #dfe4e3;

}

html {

  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;

}

label {

  padding: 50px;
  width: 500px;
  height: 500px;
  border: 3px dashed red;

}
/* 
input[type=file] {

  visibility: hidden;

} */